## Environment

# Path of your environment file
ENVFILE=.env.development

# Development environment (must be the same as the iOS Scheme: development, staging, production)
ENV=development


## Scheme
# Name of the main Scheme
SCHEME=RNBoilerPlate

## Flavor
# Flavour same as ENV variable
FLAVOR=Production


# Bundle ID (Apple Bundle ID, Android package name depending on environment)
BUNDLE_ID=com.rnboilerplate.development

## Firebase
# Firebase Android app ID
FIREBASE_ANDROID_APP_ID=
# # Firebase iOS app ID
FIREBASE_APPLE_APP_ID=
